<!DOCTYPE html>

{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <title>Bon Appetit - Home</title>

    <!-- google font-->
    <link href="https://fonts.googleapis.com/css?family=GFS+Didot&display=swap" rel="stylesheet">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--load css file-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- bootrap navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'bon-appetit:home' %}">Bon Appétit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
				<a class="nav-item nav-link {{ home_page }}" href="{% url 'bon-appetit:home' %}">Home</a>
				<a class="nav-item nav-link {{ top_restaurants_page }}" href="{% url 'bon-appetit:top-restaurants' %}">Top Restaurants</a>
				<a class="nav-item nav-link {{ search_page }}" href="{% url 'bon-appetit:search' %}">Search</a>
			{% if user.is_authenticated %}
				<a class="nav-item nav-link {{ logout }}" href="{% url 'bon-appetit:logout' %}">Logout</a>
			{% else %}
				<a class="nav-item nav-link {{ register }}" href="{% url 'bon-appetit:register' %}">Sign Up</a>
				<a class="nav-item nav-link {{ login }}" href="{% url 'bon-appetit:login' %}">Login</a>
			{% endif %}
          </div>
        </div>
      </nav>

    <div class="jumbotron jumbotron-fluid jumbotron-custom">
        <div class="container">
            <div id="content">
				{% if user.is_authenticated %}
					<h1>Bon Appétit {{ user.username }}! </h1>
					<p>Find restaurant deals fast!</p>
					<a class="btn btn-light btn-lg" href="{% url 'bon-appetit:search' %}" role="button">Search</a>
				{% else %}
					<h1>Bon Appétit</h1>
					<p>Find restaurant deals fast!</p>
					<a class="btn btn-light btn-lg" href="{% url 'bon-appetit:search' %}" role="button">Search</a>
				{% endif %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="{% static 'javascript/main.js' %}"></script>
</body>
</html>
