{% extends 'base.html' %}
{% load static %}
{% block title_block %}
    Top Restaurants
{% endblock %}

{% block hero_content_block %}
<h1>Top Restaurants</h1>
<p>Look at the highest rated restaurants</p>
{% endblock %}

{% block body_block %}
<!-- grid system-->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="section-banner">Highest Rated</h1>
        </div>
    </div>

    <div class="row">

        
        {% for item in rating_list %}
        <div class="col-lg-4 col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <img class="card-img-top" src="{% static 'images/placeholder.jpg' %}" alt="placeholder image">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">
                    {% if item.rating == 5 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    {% elif item.rating == 4 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star unchecked"></span>
                    {% elif item.rating == 3 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star unchecked"></span>
                        <span class="fa fa-star unchecked"></span>
                    {% elif item.rating == 2 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star unchecked"></span>
                        <span class="fa fa-star unchecked"></span>
                        <span class="fa fa-star unchecked"></span>
                    {% elif item.rating == 1 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star unchecked"></span>
                        <span class="fa fa-star unchecked"></span>
                        <span class="fa fa-star unchecked"></span>
                        <span class="fa fa-star unchecked"></span>
                    {% elif item.rating == 0 %}
                        <span class="fa fa-star unchecked"></span>
                        <span class="fa fa-star unchecked"></span>
                        <span class="fa fa-star unchecked"></span>
                        <span class="fa fa-star unchecked"></span>
                        <span class="fa fa-star unchecked"></span>
                    {% endif %}
                    </p>
                    <a href="#" class="btn btn-dark">Learn More</a>
                </div>
            </div>
        </div>
        {% endfor %}
            

    <div class="row">
        <div class="col-lg-12">
            <h1 class="section-banner">Cheapest</h1>
        </div>
    </div>

    <div class="row">
        {% for item in cheapest_list %}
        <div class="col-lg-4 col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <img class="card-img-top" src="{% static 'images/placeholder.jpg' %}" alt="placeholder image">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">
                        {% if item.rating == 5 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        {% elif item.rating == 4 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        {% elif item.rating == 3 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elif item.rating == 2 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elif item.rating == 1 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elif item.rating == 0 %}
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% endif %}
                        </p>
                    <a href="#" class="btn btn-dark">Learn More</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}