{% extends 'base.html' %}

{% block title_block %}
    View Account
{% endblock %}

{% block hero_content_block %}
    <h1>View Account</h1>
    <p>view your account details and favourite restaurants</p>
{% endblock %}

{% block body_block %}
    <img class="rounded-circle account-img" src="{{ profile.picture.url }}" alt="profile picture" width=250>
    <span>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{ user.email }}</h1>
                </div>
            </div>
        
            <div class="row">
                <div class="col-lg-6">
                    <h1>{{ profile.firstname }}</h1>
                </div>
                <div class="col-lg-6">
                    <h1>{{ profile.surname }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h1>{{ profile.get_city_display }}</h1>
                </div>
                <div class="col-lg-6">
                    <h1>{{ profile.get_dietary_requirments_display }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h1>favourites</h1>
                </div>
            </div>
    </span>
{% endblock %}